untitled.py
*.pyc
test.py
data*
test*
local_ckpt*
.DS_Store
bert_code*
gs_ckpt*
*.png
*.gif
*_ignore.*
*.html
cython_graph_match.c
*.so
build/*
.vscode/settings.json
*.pkl
*sbatch*
try.py
imo_geo/IMO2019SL.pdf
setupsym.py
sym.c
sym.pyx
whittle_save.txt
